body {
  text-align: center;
  background-color: black;
  color: goldenrod;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
  align-items: center;
}
form {
   padding: 5px;
}
.row {
    align-content: center;
    align-items: center;
}
#bannerCripto{
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
#mobile-display{
  display: none;
}
}

h1{
  font-family: 'Prompt', sans-serif;
  font-size: 5.5em;
  text-align: center;
}

#crypto-IMG1{
  width: 150px;
  height: 150px;
  float: left;
}
#crypto-IMG2{
  width: 150px;
  height: 150px;
  float: right;
}

h3{
  font-size: 2.3em;
  text-align: center;
}

h4 {
  font-size: 2.5em;
  text-align: center;
}

footer {
  margin-top: 100px;
}
span {
  border: 1px solid black;
  padding: 4px;
  border-radius: 20px;
}

#boton-resetear{
  background-color: black; 
  border-color: goldenrod;
}

button:hover{
  opacity: 0.4;
}
  

li {
  list-style-type: none;
  margin-top: 10px;
}
